.nav-1 {
 color: black;
}
.nav-2 {
 color: black;
}
 
.country1 {
 color: black;
}
.country2 {
 color: black;
}
.country3 {
 color: black;
}
.country4 {
 color: black;
}
.country5 {
 color: black;
}



.country2.1 {
 color: black;
}
.country2.2 {
 color: black;
}
.country2.3 {
 color: black;
}
.country2.4 {
 color: black;
}
.country2.5 {
 color: black;
}
#color1 {
 color: blue;
}
#color2 {
 color: aqua;
}
}